[defaults]
inventory           = inventory/hosts.yml
remote_user         = ubuntu
private_key_file    = ~/.ssh/your-key.pem
host_key_checking   = False
stdout_callback     = default
result_format = yaml
callbacks_enabled   = timer, profile_tasks
roles_path = ./roles
files = ./files
allow_world_readable_tmpfiles = True

# Retry failed hosts
retry_files_enabled = True
retry_files_save_path = .retries/

